<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<form method="POST" action="">{% csrf_token %}
    {{ form.as_p }}
    {{ form1.as_p }}
    <input type="submit" value="Register">

</form>

</body>
</html>