{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ATINA | Profile</title>

    <link href="{% static 'Static_For_inspinia/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Static_For_inspinia/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'Static_For_inspinia/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'Static_For_inspinia/css/style.css' %}" rel="stylesheet">

</head>

<body ng-app="atina">

    <div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle img-responsive" src='{{ user.userprofile.image.url }}'/>
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'atinapp:logout' %}">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>

            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a7.jpg">
                                </a>
                                <div class="media-body">
                                    <small class="pull-right">46h ago</small>
                                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a4.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right text-navy">5h ago</small>
                                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/profile.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right">23h ago</small>
                                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="mailbox.html">
                                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="profile.html">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="/atinapp/">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>{{user}} Profile</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a>Extra Pages</a>
                        </li>
                        <li class="active">
                            <strong>Profile</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <p class="ibox-title">Edit Profile</p>
                        <div class="well" ng-controller="formController" ng-init="init()">
                            <div align="right"><img src="{{ user.userprofile.image.url }}" width="100px" height="100px" class="img-thumbnail img-responsive"></div>
                            <br/>
                            <form role="form" class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                                    <input type='hidden' name='csrfmiddlewaretoken' value='Vlp46LNcCJAfXDTjHEu3Zq5TNJnjQiuyx7gdoHCIPmA6aSS1l2jKIv1x9rQbsmbZ' />
                                <div class="form-group">
                                    <label for="id_title" class="col-sm-2 control-label">
                                        Title</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <select class="form-control" name = "title" id="id_title" required>
                                                    <option value="{{userprofile.title}}">{{userprofile.title}}</option>
                                                    <option value="Mr">Mr.</option>
                                                    <option value="Mrs">Mrs</option>
                                                    <option value="Miss">Miss.</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <input id="id_first_name" name="first_name" type="text" class="form-control" placeholder="First Name"  value="{{user.first_name}}" required />
                                            </div>
                                            <div class="col-md-4">
                                                <input id="id_last_name" name="last_name" type="text" class="form-control" placeholder="Last Name" value="{{user.last_name}}" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_email" class="col-sm-2 control-label">
                                        Email</label>
                                    <div class="col-sm-10">
                                        <input  type="email" class="form-control" id="id_email" placeholder="Email" name="email" value="{{user.email}}" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_username" class="col-sm-2 control-label">
                                        Username</label>
                                    <div class="col-sm-10">
                                        <input  type="text" class="form-control" id="id_username" placeholder="Username" name="username" value="{{user.username}}" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_password" class="col-sm-2 control-label">
                                        Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mobile" class="col-sm-2 control-label">
                                        Mobile</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="mobile" placeholder="Mobile"  value="{{user.userprofile.mobile}}" name="mobile"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_address" class="col-sm-2 control-label">
                                        Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id_address" name="address" value="{{user.userprofile.address}}" placeholder="Address" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_address_2" class="col-sm-2 control-label">
                                        </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id_address_2" name="address_2" value="{{user.userprofile.address_2}}" placeholder="Address 2"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_address_3" class="col-sm-2 control-label">
                                        </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id_address_3" name="address_3" value="{{user.userprofile.address_3}}" placeholder="Address 3"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="id_address_3" class="col-sm-2 control-label">
                                        Country </label>

                                  <div class="col-sm-5">
                                      <select name="country" class="form-control" ng-model="country_selected" ng-change="get_states()">

                                        <option ng-repeat="country in countries" value="[[ country.id ]]">[[ country.name ]]</option>

                                      </select>
                                  </div>
                                    <span>{{user.userprofile.country}}</span>
                                </div>
                                <div class="form-group">
                                <label for="id_address_3" class="col-sm-2 control-label">
                                        State </label>
                                  <div class="col-sm-5">
                                      <select name="state" class="form-control" ng-model="state_selected">
                                        <option ng-repeat="state in states" value="[[ state.id ]]">[[ state.name ]]</option>
                                      </select>
                                  </div>
                                    <span>{{user.userprofile.state}}</span>
                                </div>
                                <div class="form-group">
                                    <label for="id_zip_code" class="col-sm-2 control-label">
                                        Zip Code</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id_zip_code" name="zip_code" value="{{user.userprofile.zip_code}}" placeholder="Zip Code" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_image" class="col-sm-2 control-label">
                                         Image</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="id_image" name="image" placeholder="Upload Image" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary btn-md">Save</button>
                                        <button type="button" class="btn btn-default btn-md" id="closeBtn">
                                            Cancel</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2015
            </div>
        </div>

        </div>
        </div>



    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/angular.v1.5.2.js' %}"></script>
    <script src="{% static 'Static_For_inspinia/js/bootstrap.js' %}"></script>
    <script src="{% static 'Static_For_inspinia/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'Static_For_inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'Static_For_inspinia/js/inspinia.js' %}"></script>
    <script src="{% static 'Static_For_inspinia/js/plugins/pace/pace.min.js' %}"></script>

    <!-- Peity -->
    <script src="{% static 'Static_For_inspinia/js/plugins/peity/jquery.peity.min.js' %}"></script>

    <!-- Peity -->
    <script src="{% static 'Static_For_inspinia/js/demo/peity-demo.js' %}"></script>

</script>
    <script type="text/javascript">
    var base_url = "{{request.build_absolute_uri}}";
    var caller = "home";
    var host = base_url.replace(caller,'');
   // alert(host + "groups/");


</script>



<script type="text/javascript">
        var mainApp = angular.module('atina', [], function($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        });

         mainApp.controller('formController',['$scope', '$interval', '$http', function($scope, $interval, $http) {
            $scope.countries = [];
            $scope.states = [];
            $scope.country_selected = [];

            $scope.get_states = function(){
                for(var c in $scope.countries){
                    if($scope.countries[c].id == $scope.country_selected){

                        $scope.states = $scope.countries[c].states;
                        break;
                    }
                }
            }

            $scope.init = function() {

                fetchData();

            };

            var fetchData = function(){
                var country = {};
                $http({
                    method  : 'GET',
                    url     : 'http://192.168.25.214:8000/atinapp/fetch_countries/',
                }).success(function(countries) {
                        //console.log(data);
                        //$scope.countries_data = countries;
                        $http({
                            method  : 'GET',
                            url     : 'http://192.168.25.214:8000/atinapp/fetch_states/',
                        }).success(function(states) {
                                //console.log(countries);
                                for(var c in countries){
                                    country.name = countries[c].name;
                                    country.id = countries[c].id;
                                    //console.log(country.name);
                                    country.states=[];
                                    for(var s in states){
                                        if(states[s].country == countries[c].id){
                                            country.states.push(states[s]);
                                        }
                                    }
                                    $scope.countries.push(country);
                                    country = {};
                                }
                        });
                });
            }

            // listen on DOM destroy (removal) event, and cancel the next UI update
            // to prevent updating time after the DOM element was removed.
             $scope.$on('$destroy', function() {
                $interval.cancel(stop);
                stop = undefined;
            });
         }]);
</script>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/creative.min.js' %}"></script>

</body>

</html>