{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Atina Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style type="text/css">
    
    .nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}
#colormsg{

        color:white;
}



</style>

<body id="page-top" ng-app="atina">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Atina</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#messages">Messages</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                     
                    <li>
                     <a class="page-scroll" href="#" data-toggle="modal" data-target="#myModal">
                        Signin / Signup </a>
                    </li>
                    <div>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %} id="colormsg">{{ message }}</li>
                        {% endfor %}
                        </ul>
                            {% endif %}
                    </div>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">ATINA SOLUTION</h1>
                <hr>
                <p>Your best solution centre !</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="messages">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

            <p></p>
                <center>
                <div class="col-md-10 col-md-offset-1">

                    <div class="panel panel-default panel-table">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col col-xs-6">
                            <h3 class="panel-title">View Messages</h3>
                          </div>
                        </div>
                      </div>

                      <div class="panel-body col-sm-8" align="center">

                        {%for obj_msg in page_list %}
                        <div class="thumbnail">
                            {%for obj_user in user_lists %}
                            {% if obj_msg.user == obj_user.id %}
                            <img src="{{obj_user.userprofile.image.url}}" alt="image" class="img-responsive img-circle" width="50px" height="50px" />
                            <div class="caption">
                                <h3>{{obj_user.username}}</h3>

                                {% endif %}
                                {% endfor %}

                                {%for obj_typ in message_types %}
                                          {% if obj_msg.msg_type == obj_typ.id %}
                                            <p>{{obj_typ.msg_type}}</p>

                                          {% endif %}
                                          {% endfor %}
                                        <p><a href="#">{{obj_msg.msg_content | truncatechars:30}}</a></p>



                            </div>
                        </div>
                         {% endfor %}
                          <div class="pagination">
                            <span class="step-links">
                                {% if page_list.has_previous %}
                                    <a href="?page={{ page_list.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ page_list.number }} of {{ page_list.paginator.num_pages }}.
                                </span>

                                {% if page_list.has_next %}
                                    <a href="?page={{ page_list.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                          </div>
                      </div>
                    </div>
                </div>
                </center>
            </div>
        </div>

    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>




    <!-- Large modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Login/Registration - <a href="http://www.jquery2dotnet.com">Atina.com</a></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
                            <li><a href="#Registration" data-toggle="tab">Registration</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Login">
                                <form role="form" class="form-horizontal" action="/atinapp/auth/" method="POST">{% csrf_token %}
                                <div class="form-group">
                                    <label for="id_username" class="col-sm-2 control-label">
                                        Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id_user" placeholder="Username" name="username"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="col-sm-2 control-label">
                                        Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            Login</button>
                                        <a href="javascript:;">Forgot your password?</a>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="Registration" ng-controller="formController" ng-init="init()">
                                <form role="form" class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                                    <input type='hidden' name='csrfmiddlewaretoken' value='Vlp46LNcCJAfXDTjHEu3Zq5TNJnjQiuyx7gdoHCIPmA6aSS1l2jKIv1x9rQbsmbZ' />
                                <div class="form-group">
                                    <label for="id_title" class="col-sm-2 control-label">
                                        Title</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <select class="form-control" name = "title" id="id_title" required>
                                                    <option value="Mr">Mr.</option>
                                                    <option value="Mrs">Mrs</option>
                                                    <option value="Miss">Miss.</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <input id="id_first_name" name="first_name" type="text" class="form-control" placeholder="First Name" required />
                                            </div>
                                            <div class="col-md-4">
                                                <input id="id_last_name" name="last_name" type="text" class="form-control" placeholder="Last Name" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_email" class="col-sm-2 control-label">
                                        Email</label>
                                    <div class="col-sm-10">
                                        <input  type="email" class="form-control" id="id_email" placeholder="Email" name="email" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_username" class="col-sm-2 control-label">
                                        Username</label>
                                    <div class="col-sm-10">
                                        <input  type="text" class="form-control" id="id_username" placeholder="Username" name="username" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_password" class="col-sm-2 control-label">
                                        Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mobile" class="col-sm-2 control-label">
                                        Mobile</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="mobile" placeholder="Mobile"  name="mobile"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_address" class="col-sm-2 control-label">
                                        Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id_address" name="address" placeholder="Address" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_address_2" class="col-sm-2 control-label">
                                        </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id_address_2" name="address_2" placeholder="Address 2"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_address_3" class="col-sm-2 control-label">
                                        </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id_address_3" name="address_3" placeholder="Address 3"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_address_3" class="col-sm-2 control-label">
                                        Country </label>
                                  <div class="col-sm-5">
                                      <select name="country" class="form-control" ng-model="country_selected" ng-change="get_states()">
                                        <option ng-repeat="country in countries" value="[[ country.id ]]">[[ country.name ]]</option>
                                      </select>
                                  </div>

                                    <label for="id_address_3" class="col-sm-1 control-label">
                                        State </label>
                                  <div class="col-sm-4">
                                      <select name="state" class="form-control" ng-model="state_selected">
                                        <option ng-repeat="state in states" value="[[ state.id ]]">[[ state.name ]]</option>
                                      </select>
                                  </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_zip_code" class="col-sm-2 control-label">
                                        Zip Code</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id_zip_code" name="zip_code" placeholder="Zip Code" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_image" class="col-sm-2 control-label">
                                         Image</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="id_image" name="image" placeholder="Upload Image" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary btn-sm">Sign up</button>
                                        <button type="button" class="btn btn-default btn-sm" id="closeBtn">
                                            Cancel</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div id="OR" class="hidden-xs">
                            OR</div>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-center sign-with">
                            <div class="col-md-12">
                                <h3>
                                    Sign in with</h3>
                            </div>
                            <div class="col-md-12">
                                <div class="btn-group btn-group-justified">
                                    <a href="#" class="btn btn-primary">Facebook</a> <a href="#" class="btn btn-danger">
                                        Google</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
$("#myModal").modal("show");
$("#closeBtn").modal("hide");


</script>
    <script type="text/javascript">
    var base_url = "{{request.build_absolute_uri}}";
    var caller = "home";
    var host = base_url.replace(caller,'');
   // alert(host + "groups/");


</script>
<script src="{% static 'js/jquery-2.1.1.js' %}"    ></script>
<script src="{% static 'js/angular.v1.5.2.js' %}"></script>

<script type="text/javascript">
        var mainApp = angular.module('atina', [], function($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        });

         mainApp.controller('formController',['$scope', '$interval', '$http', function($scope, $interval, $http) {
            $scope.countries = [];
            $scope.states = [];
            $scope.country_selected = [];

            $scope.get_states = function(){
                for(var c in $scope.countries){
                    if($scope.countries[c].id == $scope.country_selected){

                        $scope.states = $scope.countries[c].states;
                        break;
                    }
                }
            }

            $scope.init = function() {

                fetchData();

            };

            var fetchData = function(){
                var country = {};
                $http({
                    method  : 'GET',
                    url     : 'http://192.168.25.214:8000/atinapp/fetch_countries/',
                }).success(function(countries) {
                        //console.log(data);
                        //$scope.countries_data = countries;
                        $http({
                            method  : 'GET',
                            url     : 'http://192.168.25.214:8000/atinapp/fetch_states/',
                        }).success(function(states) {
                                //console.log(countries);
                                for(var c in countries){
                                    country.name = countries[c].name;
                                    country.id = countries[c].id;
                                    //console.log(country.name);
                                    country.states=[];
                                    for(var s in states){
                                        if(states[s].country == countries[c].id){
                                            country.states.push(states[s]);
                                        }
                                    }
                                    $scope.countries.push(country);
                                    country = {};
                                }
                        });
                });
            }

            // listen on DOM destroy (removal) event, and cancel the next UI update
            // to prevent updating time after the DOM element was removed.
             $scope.$on('$destroy', function() {
                $interval.cancel(stop);
                stop = undefined;
            });
         }]);
</script>
    <script>
        $.ajax({
            url: 'http://192.168.25.214:8000/atinapp',
            type: 'POST',
            data: { key: value },

                Do something with the data
    success: function(data) {
        // Data is everything that is returned from the post
        alert(data);
        // data.message could be a piece of the entire return
        alert(data.message);
    } error: function(data) { // Handle fatal errors }
});
    </script>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/creative.min.js' %}"></script>

</body>

</html>