{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Atina</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
     <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>





    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">





    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="atina">
<nav class="nav nav-tabs" role="navigation">
            		<div class="navbar-header">
                		<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    		<i class="fa fa-reorder"></i>
                		</button>
                		<a href="{% url 'atinapp:home' %}" class="navbar-brand">Logo<br><br></a>
            		</div>
                    {% if user.is_authenticated %}
            		<div class="navbar-collapse collapse" id="navbar">

            			<ul class="nav navbar-top-links navbar-right">
                    		<li><a href="{% url 'atinapp:logout' %}"><i class="fa fa-sign-in"></i> Logout</a></li>
                		</ul>
                        Welcome user, you are loged in..

            		</div>
        		</nav>

<div class="jumbotron">
  <h1>Atina</h1>
  <p>Get your apps/device solution here</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div style="margin-top=50px;"class="container" ng-controller="messageController" ng-init="init()">
	<div class="row">
	  <div class="col-sm-4 col-md-4">
		<div class="thumbnail">

		  <div class="caption">
			<h3>Message Category</h3>
			<p>
			  <ul>
				<li ng-repeat="mtype in message_types" ng-click="get_messages(mtype.id)">
					<span ng-bind="mtype.name | uppercase " ></span>
				</li>
			</ul>
			   <ul>
				  <li ng-repeat=" k in users">
					  <span ng-bind ="k.title"></span>
				  </li>
				</ul>
			  </p>

		  </div>
		</div>
	  </div>


	  <div class="col-sm-4 col-md-4">
		<div class="thumbnail">

		  <div class="caption">
			<h3>Issues</h3>
			<p ng-show="mtype.id == id">
				<ul>
						<li ng-repeat="message in messages | filter:0" value="[[ message.id ]]" ng-model="messages" ng-click="get_child(message.id)">
							<span ng-bind="message.msg_content |uppercase"></span>
						</li>
						<span ng-bind="mtype.name | uppercase " ></span>
					</ul>
				</p>

		  </div>
		</div>
	  </div>


	  <div class="col-sm-4 col-md-4">
		<div class="thumbnail">

		  <div class="caption">
			<h3>Responses</h3>
				<p>
				  <ul>
				  <li ng-repeat="child in responses">
					  <span ng-bind="child.msg_content"></span>
				  </li>
				</ul>
			  </p>
			</div>
		</div>
	  </div>
	</div>
</div>
<div class="col-sm-5">
<div class="panel panel-success">
  <div class="panel-body">

    <form>
  <div class="form-group">
    <label>Select category</label>

    <select type="text" class="form-control">
        <option value="networking">Networking issues</option>
        <option value="networking">Hardware issues</option>
        <option value="networking">Software issues</option>
        <option value="networking">Other issues</option>
        </select>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Enter Message</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
</div>
  </div>
</div>
{% endif %}
<script type="text/javascript">
    var base_url = "{{request.build_absolute_uri}}";
    var caller = "home";
    var host = base_url.replace(caller,'');
   // alert(host + "groups/");
</script>
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
	<script src="{% static 'js/angular.v1.5.2.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
	 var mainApp = angular.module('atina', [], function($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        });

         mainApp.controller('messageController',['$scope', '$interval', '$http', function($scope, $interval, $http) {
            $scope.message_types = [];
            $scope.messages = [];
            $scope.id = 0;
            $scope.message_types_selected = [];
            $scope.parentdata = [];
            $scope.childdata = [];
            $scope.users = [];

            $scope.get_messages = function(mid){
                //console.log(mid, $scope.message_types);

                for(var c in $scope.message_types){
                    if($scope.message_types[c].id == mid ){
                        $scope.messages = $scope.message_types[c].messages;
                        break;
                    }
                }
                $scope.id = mid;

            }

            $scope.get_child = function(parent_id){
            	//alert(parent_id);
            	console.log($scope.messages);
            //for (var k in $scope.messages){
			//var parent_id = $scope.messages[k].parent;
                function filter_for_parent(element){	if (element.parent ==  parent_id){ return true; } return false; }
                $scope.responses =  $scope.messages.filter(filter_for_parent);
              	//console.log($scope.responses);
			//}

            }
            $scope.init = function() {

                fetchData();

                //fetch data test: parent



            };

            var fetchData = function(){


                var mtype = {};
                $http({
                    method  : 'GET',
                    url : 'http://192.168.25.214:8000/atinapp/all_user/',
                }).success(function(users) {
                        //console.log(users);
                        for (var k in users )
                        {console.log (users[k].title);}

                $http({
                    method  : 'GET',
                    url : 'http://192.168.25.214:8000/atinapp/msg_type/',
                }).success(function(message_types) {
                        //console.log(message_types);
                        $http({
                            method  : 'GET',
                            url : 'http://192.168.25.214:8000/atinapp/all_msg/',
                        }).success(function(messages) {
                               //console.log(messages);
                                for(var c in message_types){
                                    mtype.name = message_types[c].msg_type;
                                    mtype.id = message_types[c].id;
                                    //console.log(mtype.name);
                                    mtype.messages=[];
                                    //console.log(mtype.messages);

                                    for(var s in messages){

                                        if(messages[s].msg_type == message_types[c].id ){
                                            mtype.messages.push(messages[s]);
                                        }

                                    }
                                    $scope.message_types.push(mtype);
                                    mtype = {};
                                }
                        });
                });
                });
            }

            // listen on DOM destroy (removal) event, and cancel the next UI update
            // to prevent updating time after the DOM element was removed.
             $scope.$on('$destroy', function() {
                $interval.cancel(stop);
                stop = undefined;
            });
         }]);
</script>
</body>
</html>