{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Atina</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
     <link href="{% static 'css/animate.css' %}" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>





    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">





    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="atina">
<nav class="nav nav-tabs" role="navigation">
            		<div class="navbar-header">
                		<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    		<i class="fa fa-reorder"></i>
                		</button>
                		<a href="{% url 'atinapp:home' %}" class="navbar-brand">Logo<br><br></a>
            		</div>
            		<div class="navbar-collapse collapse" id="navbar">


            			<ul class="nav navbar-top-links navbar-right">
                    		<li><a href="{% url 'atinapp:login' %}"><i class="fa fa-sign-in"></i> Log in</a></li>
                		</ul>

                        <ul class="nav navbar-top-links navbar-right">
                    		<li><a href="{% url 'atinapp:signup' %}"><i class="fa fa-gears"></i> Sign up </a></li>
                		</ul>

                		<ul class="nav navbar-top-links navbar-right">
                    		<li><a href="/admin/"><i class="fa fa-user"></i> Admin </a></li>
                		</ul>


            			<ul class="nav navbar-top-links navbar-right active">
                    		<li><a href="{% url 'atinapp:home' %}"><i class="fa fa-dashboard"></i> Home </a></li>
                		</ul>


            		</div>
        		</nav>
    <div style="margin-top:100px;" class="container">
        <div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Login Form</div>
                            <div class="panel-body">
                                <form role="form" class="form-horizontal" action="/atinapp/auth_new/" method="POST">{% csrf_token %}
                                    <div class="form-group">
                                        <label for="id_username" class="col-sm-2 control-label">Username</label>
                                        <div class="col-sm-10">
                                            <input  type="username" class="form-control" id="id_username" placeholder="Username" name="username" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_password" class="col-sm-2 control-label">Password</label>
                                        <div class="col-sm-10">
                                            <input  type="password" class="form-control" id="id_password" placeholder="Password" name="password" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                        </div>
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary btn-sm">Login</button>
                                            <button type="button" class="btn btn-default btn-sm" id="closeBtn">Cancel</button>
                                        </div>
                                    </div>
                                </form>
            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/jquery-2.1.1.js' %}"    ></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>


</body>
</html>








