<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all message</title>
</head>
<body>


<h1>All messages</h1>
{%for obj in message_lists %}
<a href="#">{{obj.username}}</a>&nbsp;<small>{{obj.timestamp}}</small><br/>
<p>Name : {{obj.user.first_name}} {{obj.user.last_name}}</p>
<p>Message Type: {{obj.messagetype}}</p>
<p>Message: {{obj.comment}}</p>
<p>Parent: {{obj.parent}}</p>
<p>Complain Status: {{obj.compstatus}}</p>
<p>Updated: {{obj.updated}}</p>
<p>time Stamp: {{obj.timestamp}}</p>
{% endfor %}

</body>
</html>





