<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>messages</title>
</head>
<body>


{% for a in instance %}
<span>Message Type: {{a.msg_type}}</span><br/>
<span>Message: {{a.msg_content}}</span><br/>
<span>Parent: {{a.parent}}</span><br/>
<span>updated: {{a.updated}} ago</span><br/>
<span>timestamp: {{a.timestamp }}</span><br/>


{% endfor %}


</body>
</html>


