{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Atina</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
     <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>





    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">





    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="atina">
<nav class="nav nav-tabs" role="navigation">
            		<div class="navbar-header">
                		<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    		<i class="fa fa-reorder"></i>
                		</button>
                		<a href="{% url 'atinapp:home' %}" class="navbar-brand">Logo<br><br></a>
            		</div>
            		<div class="navbar-collapse collapse" id="navbar">

            			<ul class="nav navbar-top-links navbar-right">
                    		<li><a href="{% url 'atinapp:login' %}"><i class="fa fa-sign-in"></i> Log in</a></li>
                		</ul>

            			<ul class="nav navbar-top-links navbar-right active">
                    		<li><a href="{% url 'atinapp:home' %}"><i class="fa fa-dashboard"></i> Home </a></li>
                		</ul>


            		</div>
        		</nav>


    <div style="margin:100px;"class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Registration Form</div>
                            <div class="panel-body">
                                <div id="Registration" ng-controller="formController" ng-init="init()">
                                    <form role="form" class="form-horizontal" action="" method="POST" enctype="multipart/form-data">{%csrf_token%}
                                            <div class="form-group">
                                                <label for="id_title" class="col-sm-2 control-label">
                                                    Title</label>
                                                <div class="col-sm-10">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <select class="form-control" name = "title" id="id_title" required>
                                                                <option value="Mr">Mr.</option>
                                                                <option value="Mrs">Mrs</option>
                                                                <option value="Miss">Miss.</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <input id="id_first_name" name="first_name" type="text" class="form-control" placeholder="First Name" required />
                                                        </div>
                                                        <div class="col-md-5">
                                                            <input id="id_last_name" name="last_name" type="text" class="form-control" placeholder="Last Name" required />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_email" class="col-sm-2 control-label">
                                                    Email</label>
                                                <div class="col-sm-10">
                                                    <input  type="email" class="form-control" id="id_email" placeholder="Email" name="email" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_username" class="col-sm-2 control-label">
                                                    Username</label>
                                                <div class="col-sm-10">
                                                    <input  type="text" class="form-control" id="id_username" placeholder="Username" name="username" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_password" class="col-sm-2 control-label">
                                                    Password</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" required/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="mobile" class="col-sm-2 control-label">
                                                    Mobile</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="mobile" placeholder="Mobile"  name="mobile" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_address" class="col-sm-2 control-label">
                                                    Address</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="id_address" name="address" placeholder="Address" required/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_address_2" class="col-sm-2 control-label">
                                                    </label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="id_address_2" name="address_2" placeholder="Address 2"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_address_3" class="col-sm-2 control-label">
                                                    </label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="id_address_3" name="address_3" placeholder="Address 3"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_address_3" class="col-sm-2 control-label">
                                                    Country </label>
                                              <div class="col-sm-5">
                                                  <select name="country" class="form-control" ng-model="country_selected" ng-change="get_states()">
                                                    <option ng-repeat="country in countries" value="[[ country.id ]]">[[ country.name ]]</option>
                                                  </select>
                                              </div>

                                                <label for="id_address_3" class="col-sm-1 control-label">
                                                    State </label>
                                              <div class="col-sm-4">
                                                  <select name="state" class="form-control" ng-model="state_selected">
                                                    <option ng-repeat="state in states" value="[[ state.id ]]">[[ state.name ]]</option>
                                                  </select>
                                              </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_zip_code" class="col-sm-2 control-label">
                                                    Zip Code</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="id_zip_code" name="zipcode" placeholder="Zip Code" required/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_image" class="col-sm-2 control-label">
                                                     Image</label>
                                                <div class="col-sm-10">
                                                    <input type="file" class="form-control" id="id_image" name="image" placeholder="Upload Image" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-primary btn-sm">Sign up</button>
                                                    <button type="button" class="btn btn-default btn-sm" id="closeBtn">
                                                        Cancel</button>
                                                </div>
                                            </div>
                                            </form>
            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var base_url = "{{request.build_absolute_uri}}";
    var caller = "home";
    var host = base_url.replace(caller,'');
   // alert(host + "groups/");
</script>
<script src="{% static 'js/jquery-2.1.1.js' %}"    ></script>
<script src="{% static 'js/angular.v1.5.2.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript">
        var mainApp = angular.module('atina', [], function($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        });

         mainApp.controller('formController',['$scope', '$interval', '$http', function($scope, $interval, $http) {
            $scope.countries = [];
            $scope.states = [];
            $scope.country_selected = [];

            $scope.get_states = function(){
                for(var c in $scope.countries){
                    if($scope.countries[c].id == $scope.country_selected){

                        $scope.states = $scope.countries[c].states;
                        break;
                    }
                }
            }

            $scope.init = function() {

                fetchData();

            };

            var fetchData = function(){
                var country = {};
                $http({
                    method  : 'GET',
                    url     : 'http://192.168.25.214:8000/atinapp/fetch_countries/',
                }).success(function(countries) {
                        //console.log(data);
                        //$scope.countries_data = countries;
                        $http({
                            method  : 'GET',
                            url     : 'http://192.168.25.214:8000/atinapp/fetch_states/',
                        }).success(function(states) {
                                //console.log(countries);
                                for(var c in countries){
                                    country.name = countries[c].name;
                                    country.id = countries[c].id;
                                    //console.log(country.name);
                                    country.states=[];
                                    for(var s in states){
                                        if(states[s].country == countries[c].id){
                                            country.states.push(states[s]);
                                        }
                                    }
                                    $scope.countries.push(country);
                                    country = {};
                                }
                        });
                });
            }

            // listen on DOM destroy (removal) event, and cancel the next UI update
            // to prevent updating time after the DOM element was removed.
             $scope.$on('$destroy', function() {
                $interval.cancel(stop);
                stop = undefined;
            });
         }]);
</script>


</body>
</html>








