{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

</head>
<body>
<h1>{{ username }} &nbsp; Detail</h1>
<span>Title: {{title}}</span><br/>
<span>Firstname: {{instance.first_name}}</span><br/>
<span>Lastname: {{instance.last_name}}</span><br/>
<span>Email: {{instance.email}}</span><br/>
<span>Joined: {{timestamp }} ago</span><br/>

<span>Address: {{address}}</span><br/>
<span>Address 2: {{address_2}}</span><br/>
<span>Country: {{country}}</span><br/>
<span>State: {{state}}</span><br/>
<span>Zip Code: {{zip_code}}</span><br/>
<span>Phone: {{mobile}}</span>

<p><img src='{{ image.url }}'></p>


</body>
</html>