<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
</head>
<body>
<h1>All users information</h1>
{%for obj in object_lists %}

<p>Name : {{obj.first_name}} {{obj.last_name}}</p>
<p>ID: {{obj.userprofile.id}}</p>
<p>Email: {{obj.email}}</p>
<p>Address: {{obj.userprofile.address}}</p>
<p>Address 2: {{obj.userprofile.address_2}}</p>
<p>Address 3: {{obj.userprofile.address_3}}</p>
<p>Mobile: {{obj.userprofile.mobile}}</p>
<p>Country: {{obj.userprofile.country}}</p>
<p>State: {{obj.userprofile.state}} </p>

{% endfor %}
</body>
</html>